<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="chat-log">Chat Log</a>
      <a mat-list-item href="quick-messages">Quick Messages</a>
      <a mat-list-item href="chat-memory">Chat Memory</a>
      <a mat-list-item href="message-generations">Message Generations</a>
      <a mat-list-item href="import-chat-log">Import Chat Log</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="display:flex; flex-direction: column; height:100%">
    <mat-toolbar color="primary" style="min-height: 56px">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Carpenter</span>
      <span class="toolbar-spacer"></span>
      <app-sign-in></app-sign-in>
    </mat-toolbar>
    <div style="flex: 1 1 auto; overflow:auto">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
