<div style="margin: 5px">
  <h1 class="mat-h1">Welcome to Carpenter</h1>
  Carpenter is a generative AI chat interface.<br /><br />

  <h2 class="mat-h2">Disclaimer</h2>
  The developer of this application has access to all settings and messages sent to or from the chatbot.<br /><br />

  <h2 class="mat-h2">Super Disclaimer!</h2>
  In fact, all of the messages are sent through a platform called AI Horde. The disclaimer on one of their websites includes the following:

  <blockquote>
    The AI Horde generates text using crowdsourced GPUs by volunteer workers. By default your inputs are not logged, but as Horde workers are open source, they can be modified to do so.<br /><br />

    In all cases, the sender will *always be anonymous*, however you are still advised to avoid sending privacy sensitive information.
  </blockquote>
 </div>
